{% extends "base.html" %}
{% block title %}Generation Activity Score Distribution{% endblock %}
{% block content %}
<head>
  <style>
    #boxplot {
      width: 1000px;
      height: 500px;
    }
  </style>
</head>
<body>

<h2>Unified Activity Score per Generation</h2>

<img id="boxplot" src="data:image/png;base64,{{ boxplot_url_outlier }}">

<br><br>
<button id="toggleBtn" onclick="changeImage()">Hide Outliers</button>

<script>
  let showingImage1 = true;
  function changeImage() {
    const img = document.getElementById('boxplot');
    const btn = document.getElementById('toggleBtn');

    if (showingImage1) {
      img.src = "data:image/png;base64,{{ boxplot_url_nooutlier }}";
      btn.innerText = 'Show Outliers';
    } else {
      img.src = "data:image/png;base64,{{ boxplot_url_outlier }}";
      btn.innerText = 'Hide Outliers';
    }
    showingImage1 = !showingImage1;
  }
</script>

</body>
</html>
<button onclick="history.back()">Go Back to Results</button>
{% endblock %}
