<h1>Upload Sequence and Experiment Data</h1>

<form method="POST" enctype="multipart/form-data">

    <p> Please Upload Plasmid Sequence File (.fasta .fna or .fa)</p>
    <input type="file" name="fasta_file" required>

    <p> Please Upload Experiment File (.json or .tsv)</p>
    <input type="file" name="experiment_file" required>

    <br><br>
    <button type="submit">Upload</button>

</form>


<hr>

{% if fasta_feedback %}

    {% if fasta_feedback.success %}
        <h2 style="color: green;">Plasmid FASTA File Upload Successful</h2>
        <p><strong>Plasmid Sequence Length:</strong> {{ fasta_feedback.sequence_length }}</p>
    {% else %}
        <h2 style="color: red;">FASTA Error</h2>
        <p>{{ fasta_feedback.message }}</p>
    {% endif %}

{% endif %}

<hr>

{% if experiment_feedback %}

    {% if experiment_feedback.success %}
        <h2 style="color: green;">Experiment Data Upload Successful</h2>
        <p><strong>Rows Parsed:</strong>{{ experiment_feedback.rows_parsed }}</p>
        <p><strong>Rows Rejected:</strong>{{ experiment_feedback.rows_rejected }}</p>

        {% if experiment_feedback.rejection_details %}
            <h3>Rejected Records</h3>
            <ul>
                {% for r in experiment_feedback.rejection_details %}
                    <li>{{ r.reason }}</li>
                {% endfor %}
            </ul>

        {% endif %}
        
    {% else %}
        <h2 style="color: red;">Experiment Data Upload Error</h2>
        <p>{{ experimeny_feedback.error }}</p>

    {% endif %} 
    
{% endif %}
